.home_body {
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/home/background-home-desktop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

/* header start here */
header {
    /* width: 94.7vw; */
    width: 94.45vw;
    height: 96px;
    position: relative;
    left: 85px;
    top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1385px; */
    /* margin:auto; */
}

/* logo */
.logocontainer {
    width: 48px;
    height: 48px;
}

.logo {
    width: 100%;
    height: 100%;
}

/* Hamburger icon */
.hamburger {
    display: none;
}
.hidehamburger{
    display: none;
}

/* horizontal line */
.line {
    width: 510px;
    height: 1px;
    position: absolute;
    left: 170px;
    top: 50px;
    z-index: 10;
    border: 0.5px solid rgb(61, 60, 60);
}

/* nav bar */
.mainnavbar {
    width: 55%;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.075);
}

.navul {
    text-transform: uppercase;
    letter-spacing: 2.7px;
    width: 542px;
    height: 19px;
    font-size: 16px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-family: 'Barlow Condensed', sans-serif;
    color: #ffffff;
}

.navlinks {
    color: #ffffff;
    text-decoration: none;
}

ul li {
    counter-increment: my-counter;
    position: relative;
}

.navlinks::before {
    content: "0" counter(my-counter)" ";
    font-weight: bold;
}

.navlinks:hover::after {
    content: " ";
    position: absolute;
    top: 52px;
    left: 0px;
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.288);
}

.defaultunderline::after {
    content: " ";
    position: absolute;
    top: 52px;
    left: 0px;
    width: 100%;
    height: 5px;
    background: #ffffff;
}

.hideverticlenavbar{
    display: none;
}

/* .home_main content start here */
.home_main {
    width: 80vw;
    margin: 15rem auto 0 auto;
    display: flex;
}

/* left content of .home_main start */
.leftcontent_home {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    /* margin-bottom: 5em; */
}

.txt1 {
    text-transform: uppercase;
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
}

.txt2 {
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Bellefair', serif;
    font-size: 150px;
}

.txt3 {
    width: 444px;
    line-height: 32px;
    color: #D0D6F9;
    font-family: 'Inter', sans-serif;
}

/* right content of .home_main  start */
.rightcontent_home {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* margin-bottom: 5em; */
}

.exploretxtcontainer {
    width: 274px;
    height: 274px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    font-size: 34px;
    cursor: pointer;
    outline: 1px solid rgba(255, 255, 255, 0.075);
    transition: outline 0.7s linear 0s;
    border: none;
}

.exploretxtcontainer:hover {
    outline: 60px solid rgba(255, 255, 255, 0.075);
}

/* media query */
/* media query for desktop */
@media screen and (max-width:1440px) {
    .line {
        width: 570px;
        left: 135px;
    }

    .mainnavbar {
        width: 60%;
    }

    .navul {
        justify-content: space-around;
        letter-spacing: 2px;
        padding: 0 1rem 0 1rem;
    }
}

@media screen and (max-width:1424px) {
    .line {
        display: none;
    }

}
@media screen and (max-width:1000px) {
    .home_main{
        margin: 7rem auto;
        flex-direction: column;
    }
    .leftcontent_home ,.rightcontent_home{
        width: 100%;
    }
    .leftcontent_home{
        text-align: center;
    }
    .rightcontent_home{
        padding-top: 4rem;
    }
    .txt3{
        margin: auto;
    }
    .exploretxtcontainer{
        margin: auto;
    }
}

/* media query for tablet */
@media screen and (max-width:768px) {
    .home_body {
        height: max-content;
        background-image: url("/assets/home/background-home-tablet.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
    }

    header {
        width: 96vw;
        margin: 0 0 0 2rem;
        left: 0px;
        top: 0px;
    }

    .line {
        display: none;
    }

    .mainnavbar {
        width: 450px;
        height: 96px;
    }

    .navul {
        width: 365px;
        height: 18px;
    }

    .navlinks::before {
        content: " ";
    }

    .home_main {
        margin: 13rem auto 0 auto;
        flex-direction: column;
        gap: 9rem;
    }

    .leftcontent_home {
        width: 100%;
        align-items: center;
    }

    .txt1 {
        width: 271px;
        height: 24px;
        font-size: 15px;
    }

    .txt2 {
        width: 445px;
        height: 150px;
    }

    .txt3 {
        width: 444px;
        height: 112px;
        line-height: 28px;
        text-align: center;
        font-size: 14.5px;
    }

    .rightcontent_home {
        width: 100%;
        justify-content: center;
        margin-bottom: 5rem;
    }

    .exploretxtcontainer {
        width: 242px;
        height: 242px;
    }

    .home_footer {
        margin-bottom: 0;
    }
}

@media screen and (max-width:530px) {
    header{
        width: 80vw;
        margin: auto;
    }
    .home_main{
        margin: 4rem auto;
    }
    .mainnavbar{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .txt3{
        width: 100%;
    }
    .txt2{
        width: 100%;
        height: max-content;
        font-size: 100px;
    }
    .verticlenavbar{
        width: 67vw;
        height: 100vh;
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        right: -53px;
        backdrop-filter: blur(30px);
        background-color: rgba(255, 255, 255, 0.075);
    }
    .verticleul{
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .dotverticleli{
        list-style: none;
    }
    .verticleli{
        display: flex;
        align-items: center;
        height: 30px;
        padding-left: 2rem;
        letter-spacing: 5px;
        cursor: pointer;
        font-family: 'Barlow Condensed', sans-serif;
        text-transform: uppercase;
    }
    .activeverticleli{
        border-right:8px solid white;

    }
    .verticlelia{
        text-decoration: none;
        color: white;
    }
    .verticlenumber{
        font-weight: bold;
    }
    .cross{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: #D0D6F9;
    }

    
}

/* media query for mobile */
@media screen and (max-width:375px) {
    .home_body {
        background-image: url("/assets/home/background-home-mobile.jpg");
    }

    header {
        width: 80vw;
        top: 0px;
        left: 0px;
    }

    .mainnavbar {
        display: none;
    }

    .hamburger{
        display: block;
        width: 24px;
        height: 21px;
        cursor: pointer;
    }
    .hidehamburger{
        display: hidden;
    }

    /* verticlenavbar style goes here  */
    .verticlenavbar{
        width: 67vw;
        height: 100vh;
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        right: -42px;
        backdrop-filter: blur(30px);
        background-color: rgba(255, 255, 255, 0.075);
    }
    .verticleul{
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .dotverticleli{
        list-style: none;
    }
    .verticleli{
        display: flex;
        align-items: center;
        height: 30px;
        padding-left: 2rem;
        letter-spacing: 5px;
        cursor: pointer;
        font-family: 'Barlow Condensed', sans-serif;
        text-transform: uppercase;
    }
    .activeverticleli{
        border-right:8px solid white;

    }
    .verticlelia{
        text-decoration: none;
        color: white;
    }
    .verticlenumber{
        font-weight: bold;
    }
    .cross{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: #D0D6F9;
    }

    .home_main {
        width: 90vw;
        margin: 1.5rem auto 0 auto;
        gap: 5rem;
    }

    /* .leftcontent_home{
        margin-top: 5rem;
    } */

    .txt1 {
        font-size: 16px;
        letter-spacing: 2.7px;
        line-height: auto;
        text-align: center;
    }

    .txt2 {
        width: 327px;
        height: 100px;
        font-size: 80px;
        text-align: center;
    }

    .txt3 {
        width: 100%;
        font-size: 15px;
        line-height: 25px;
    }

    .rightcontent_home {
        padding-top: 4rem;
    }

    .exploretxtcontainer {
        width: 150px;
        height: 150px;
        font-size: 20px;
        letter-spacing: 1.25px;
    }

    .exploretxtcontainer:hover {
        outline: 30px solid rgba(255, 255, 255, 0.075);
    }

    .home_footer {
        width: 90vw;
        font-size: 0.6rem;
        text-align: center;
    }
}